VMServer/xml-resources/axis2/META-INF/VMServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://vmserver/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://vmserver/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vmserver/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://vmserver/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vmserver/xsd">
            <xs:element name="createVirtualMachine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createVirtualMachineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createVirtualNetwork">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createVirtualNetworkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="destroyVirtualMachine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="destroyVirtualMachineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPhysicalServerStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPhysicalServerStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVirtualMachineStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVirtualMachineStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="migrateVirtualMachine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="migrateVirtualMachineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shutdownPhysicalServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shutdownPhysicalServerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shutdownVirtualMachine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shutdownVirtualMachineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPhysicalServerStatusRequest">
        <wsdl:part name="parameters" element="ns0:getPhysicalServerStatus"/>
    </wsdl:message>
    <wsdl:message name="getPhysicalServerStatusResponse">
        <wsdl:part name="parameters" element="ns0:getPhysicalServerStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="shutdownVirtualMachineRequest">
        <wsdl:part name="parameters" element="ns0:shutdownVirtualMachine"/>
    </wsdl:message>
    <wsdl:message name="shutdownVirtualMachineResponse">
        <wsdl:part name="parameters" element="ns0:shutdownVirtualMachineResponse"/>
    </wsdl:message>
    <wsdl:message name="shutdownPhysicalServerRequest">
        <wsdl:part name="parameters" element="ns0:shutdownPhysicalServer"/>
    </wsdl:message>
    <wsdl:message name="shutdownPhysicalServerResponse">
        <wsdl:part name="parameters" element="ns0:shutdownPhysicalServerResponse"/>
    </wsdl:message>
    <wsdl:message name="createVirtualNetworkRequest">
        <wsdl:part name="parameters" element="ns0:createVirtualNetwork"/>
    </wsdl:message>
    <wsdl:message name="createVirtualNetworkResponse">
        <wsdl:part name="parameters" element="ns0:createVirtualNetworkResponse"/>
    </wsdl:message>
    <wsdl:message name="createVirtualMachineRequest">
        <wsdl:part name="parameters" element="ns0:createVirtualMachine"/>
    </wsdl:message>
    <wsdl:message name="createVirtualMachineResponse">
        <wsdl:part name="parameters" element="ns0:createVirtualMachineResponse"/>
    </wsdl:message>
    <wsdl:message name="getVirtualMachineStatusRequest">
        <wsdl:part name="parameters" element="ns0:getVirtualMachineStatus"/>
    </wsdl:message>
    <wsdl:message name="getVirtualMachineStatusResponse">
        <wsdl:part name="parameters" element="ns0:getVirtualMachineStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="migrateVirtualMachineRequest">
        <wsdl:part name="parameters" element="ns0:migrateVirtualMachine"/>
    </wsdl:message>
    <wsdl:message name="migrateVirtualMachineResponse">
        <wsdl:part name="parameters" element="ns0:migrateVirtualMachineResponse"/>
    </wsdl:message>
    <wsdl:message name="destroyVirtualMachineRequest">
        <wsdl:part name="parameters" element="ns0:destroyVirtualMachine"/>
    </wsdl:message>
    <wsdl:message name="destroyVirtualMachineResponse">
        <wsdl:part name="parameters" element="ns0:destroyVirtualMachineResponse"/>
    </wsdl:message>
    <wsdl:portType name="VMServerPortType">
        <wsdl:operation name="getPhysicalServerStatus">
            <wsdl:input message="axis2:getPhysicalServerStatusRequest" wsaw:Action="urn:getPhysicalServerStatus"/>
            <wsdl:output message="axis2:getPhysicalServerStatusResponse" wsaw:Action="urn:getPhysicalServerStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shutdownVirtualMachine">
            <wsdl:input message="axis2:shutdownVirtualMachineRequest" wsaw:Action="urn:shutdownVirtualMachine"/>
            <wsdl:output message="axis2:shutdownVirtualMachineResponse" wsaw:Action="urn:shutdownVirtualMachineResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shutdownPhysicalServer">
            <wsdl:input message="axis2:shutdownPhysicalServerRequest" wsaw:Action="urn:shutdownPhysicalServer"/>
            <wsdl:output message="axis2:shutdownPhysicalServerResponse" wsaw:Action="urn:shutdownPhysicalServerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createVirtualNetwork">
            <wsdl:input message="axis2:createVirtualNetworkRequest" wsaw:Action="urn:createVirtualNetwork"/>
            <wsdl:output message="axis2:createVirtualNetworkResponse" wsaw:Action="urn:createVirtualNetworkResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createVirtualMachine">
            <wsdl:input message="axis2:createVirtualMachineRequest" wsaw:Action="urn:createVirtualMachine"/>
            <wsdl:output message="axis2:createVirtualMachineResponse" wsaw:Action="urn:createVirtualMachineResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVirtualMachineStatus">
            <wsdl:input message="axis2:getVirtualMachineStatusRequest" wsaw:Action="urn:getVirtualMachineStatus"/>
            <wsdl:output message="axis2:getVirtualMachineStatusResponse" wsaw:Action="urn:getVirtualMachineStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="migrateVirtualMachine">
            <wsdl:input message="axis2:migrateVirtualMachineRequest" wsaw:Action="urn:migrateVirtualMachine"/>
            <wsdl:output message="axis2:migrateVirtualMachineResponse" wsaw:Action="urn:migrateVirtualMachineResponse"/>
        </wsdl:operation>
        <wsdl:operation name="destroyVirtualMachine">
            <wsdl:input message="axis2:destroyVirtualMachineRequest" wsaw:Action="urn:destroyVirtualMachine"/>
            <wsdl:output message="axis2:destroyVirtualMachineResponse" wsaw:Action="urn:destroyVirtualMachineResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VMServerSOAP11Binding" type="axis2:VMServerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPhysicalServerStatus">
            <soap:operation soapAction="urn:getPhysicalServerStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdownVirtualMachine">
            <soap:operation soapAction="urn:shutdownVirtualMachine" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdownPhysicalServer">
            <soap:operation soapAction="urn:shutdownPhysicalServer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createVirtualNetwork">
            <soap:operation soapAction="urn:createVirtualNetwork" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createVirtualMachine">
            <soap:operation soapAction="urn:createVirtualMachine" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVirtualMachineStatus">
            <soap:operation soapAction="urn:getVirtualMachineStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="migrateVirtualMachine">
            <soap:operation soapAction="urn:migrateVirtualMachine" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="destroyVirtualMachine">
            <soap:operation soapAction="urn:destroyVirtualMachine" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VMServerSOAP12Binding" type="axis2:VMServerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPhysicalServerStatus">
            <soap12:operation soapAction="urn:getPhysicalServerStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdownVirtualMachine">
            <soap12:operation soapAction="urn:shutdownVirtualMachine" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdownPhysicalServer">
            <soap12:operation soapAction="urn:shutdownPhysicalServer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createVirtualNetwork">
            <soap12:operation soapAction="urn:createVirtualNetwork" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createVirtualMachine">
            <soap12:operation soapAction="urn:createVirtualMachine" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVirtualMachineStatus">
            <soap12:operation soapAction="urn:getVirtualMachineStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="migrateVirtualMachine">
            <soap12:operation soapAction="urn:migrateVirtualMachine" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="destroyVirtualMachine">
            <soap12:operation soapAction="urn:destroyVirtualMachine" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VMServerHttpBinding" type="axis2:VMServerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getPhysicalServerStatus">
            <http:operation location="VMServer/getPhysicalServerStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getPhysicalServerStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getPhysicalServerStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdownVirtualMachine">
            <http:operation location="VMServer/shutdownVirtualMachine"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shutdownVirtualMachine"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="shutdownVirtualMachine"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdownPhysicalServer">
            <http:operation location="VMServer/shutdownPhysicalServer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shutdownPhysicalServer"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="shutdownPhysicalServer"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createVirtualNetwork">
            <http:operation location="VMServer/createVirtualNetwork"/>
            <wsdl:input>
                <mime:content type="text/xml" part="createVirtualNetwork"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="createVirtualNetwork"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createVirtualMachine">
            <http:operation location="VMServer/createVirtualMachine"/>
            <wsdl:input>
                <mime:content type="text/xml" part="createVirtualMachine"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="createVirtualMachine"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVirtualMachineStatus">
            <http:operation location="VMServer/getVirtualMachineStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getVirtualMachineStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getVirtualMachineStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="migrateVirtualMachine">
            <http:operation location="VMServer/migrateVirtualMachine"/>
            <wsdl:input>
                <mime:content type="text/xml" part="migrateVirtualMachine"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="migrateVirtualMachine"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="destroyVirtualMachine">
            <http:operation location="VMServer/destroyVirtualMachine"/>
            <wsdl:input>
                <mime:content type="text/xml" part="destroyVirtualMachine"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="destroyVirtualMachine"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VMServer">
        <wsdl:port name="VMServerSOAP11port_http" binding="axis2:VMServerSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/VMServer"/>
        </wsdl:port>
        <wsdl:port name="VMServerSOAP12port_http" binding="axis2:VMServerSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/VMServer"/>
        </wsdl:port>
        <wsdl:port name="VMServerHttpport" binding="axis2:VMServerHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/VMServer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
